<div>
    <h1>Personagens Cadastrados</h1>
</div>
<section class="personagens-cadastrados">
    <% charactersRegistered.forEach(character => { %>
            <div class="card">
                <span class="card-titulo">Nº <%= character.id %></span>
                <img src="../images/characters/<%= character.image %>"/>
                <div class="card-conteudo">
                    <span class="card-dados">Nome: <%= character.name %></span>
                    <span class="card-dados">Raça: <%= character.race %></span>
                    <span class="card-dados">Level: <%= character.level %></span>
                </div>
                <div class="card__alterar">
                    <a href="editarcadastro.html"><button class="btn">Editar</button></a>
                    <button class="btn">Excluir</button>
                </div>
            </div>
    <% }) %>
</section>